<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <title>Botani Mart</title>
  <link rel="stylesheet" href="addProduct.css">
</head>

<body>
  <div class="header">
    <div class="judul">Botani Mart</div>
    <div class="search_bar">
        <input type="text" placeholder="search...">
        <button class="search-btn">
          <i class="fas fa-search"></i>
        </button>
    </div>      
  </div>

 <div class="container">
        <div class="image-section">
            <img src="selada.png.png" alt="Gambar utama" class="main-image">
            <div class="thumbnail-row">
                <img src="thumbnail1.png.jpg" alt="thumb1" class="thumb">
                <img src="thumbnail2.png.jpg" alt="thumb2" class="thumb">
                <button class="thumb add-thumb">+</button>
            </div>
        </div>

        <div class="form-section">
            <div class="form-inputs">
                <input type="text" placeholder="Nama produk..." class="input-chip">
                <input type="text" placeholder="Harga..." class="input-chip">
                <input type="text" placeholder="Stok..." class="input-chip">
                
            </div>
            <textarea class="description" placeholder="Tambahkan detail produk..."></textarea>
            <input type="text" placeholder="Kategori..." class="input-chipkat">
            
        </div>

        <button class="add-product">Add Product</button>
    </div>
</body>

</html>