<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Login Admin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="../assets/css/login-admin.css">
</head>
<body>
 <div class="login_container">
  <div class="login_content">
    <div class="login_left">
      <img src="../uploads/botani-mart-62fe71fb08a8b5052b22db64.jpg" alt="Admin Illustration">
    </div>
    <div class="login_right">
      <h2>Login To Administration</h2>
      <h1>Welcome back! Please enter your details</h1>
      <form id="loginForm">
        <div class="bagian_input">
          <i class="fas fa-user"></i>
          <input type="text" id="username" placeholder="Enter your Username" required>
        </div>
        <div class="bagian_input password-wrapper">
          <i class="fas fa-lock"></i>
          <input type="password" id="password" placeholder="Enter Password" required>
          <span id="togglePassword" class="toggle-password">
            <i class="fas fa-eye"></i>
          </span>
        </div>
        <div class="forgot">
          <a href="/reset">Forgot password?</a>
        </div>
        <div class="login_footer">
          <button type="submit">Sign In</button>
        </div>
      </form>
      <div class="signup-link">
        Don't have an account? <a href="/admin/new-admin">Sign up</a>
      </div>
    </div>
  </div>
</div>

<script src="../assets/js/login-admin.js"></script>

</body>
</html>
