<!DOCTYPE html>
<html>
    <head>
        <meta charset="=UTF 8">
        <link rel="stylesheet" href="create-password.css">
    </head>

    <body>
        <div class="login_container">
            <div class="login_box">
              <div class="login_header">
                <h2>Create Your Password</h2>
              </div>
              <form id="loginForm">
                <div class="judulPassword">Password</div>
                <div class="bagian_input">
                  <i class="fas fa-lock"></i>
                  <input type="text" id="username" placeholder="Type your new password here..." required>
                </div>

                <div class="judulConfirm">Confirm Password</div>
                <div class="bagian_input">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="password" placeholder="Confirm your new password..." required>
                </div>

                <div class="syarat">
                    <p>Password must contain the following:</p>
                    <div class="boxSyarat">
                      <label><input type="checkbox" disabled id="uppercase"> A capital letter</label><br>
                      <label><input type="checkbox" disabled id="lowercase"> A lowercase letter</label><br>
                      <label><input type="checkbox" disabled id="number"> A number</label><br>
                      <label><input type="checkbox" disabled id="special"> A special character</label><br>
                      <label><input type="checkbox" disabled id="length"> Minimum 8 characters</label>
                    </div>
                  </div>                  

                <div class="login_footer">
                    <button type="submit">Create</button>
        </div>

        <script src="create-password.js"></script>

    </body>
</html>