<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../assets/css/dashboard.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="header">
  <div class="menu-user-header">
    <i class="fas fa-user"></i> username
  </div>
  <div class="judul">Dashboard</div>
  <div class="profile-icon">
    <i class="fas fa-user-circle"></i>
    <div class="dropdown-profile">
      <div class="dropdown-item">
        <i class="fas fa-eye"></i> Show Profile
      </div>
      <div class="dropdown-item">
        <i class="fas fa-sign-out-alt"></i> Logout
      </div>
    </div>
  </div>
  </div>
</div>

  <div class="main-content">
    <div class="sidebar">
    <div class="menu-middle">
        <div class="menu-plus">
        <i class="fas fa-plus"></i><a href="../views/addProduct.html">Add</a>
        </div>
        <div class="menu-edit">
        <i class="fas fa-edit"></i><a href="../views/editProduct.html">Edit & Delete</a>
        </div>
    </div>
    </div>
    
    <div class="dashboard-content">
      <div class="chart">
        <h3>Trend Trafik Produk</h3>
        <canvas id="trafficChart"></canvas>
    </div>

      <div class="product-table-wrapper">
        <table class="product-table">
          <thead>
            <tr>
              <th>Nama Produk</th>
              <th>Jenis Produk</th>
              <th>Views</th>
              <th>Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Produk A</td>
              <td>Kategori 1</td>
              <td>500</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Produk B</td>
              <td>Kategori 2</td>
              <td>300</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="../assets/js/dashboard.js"></script>
</body>
</html>
