<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <title>Botani Mart</title>
  <link rel="stylesheet" href="../assets/css/product-details.css">
</head>

<body>
  <div class="header">
    <a href="/"><div class="judul">
      <img src="../uploads/Botani mart.png" alt="Botani Mart Logo" class="logo">
    </div>
    </a>
    <div class="search_bar">
      <input type="text" placeholder="search...">
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="gambar">
      <div class="gambar-utama">
        <img id="main-image" src="" alt="Gambar Utama Produk">
      </div>
      <div class="gambar-preview" id="preview-container">
      </div>
    </div>

    <div class="informasi-produk">
      <div class="judul-produk">
        <h1 id="product-name"></h1>
        <h2 id="product-type"></h2>
        <h2 id="product-latin-name"></h2>
      </div>
      
      <div class="stok-info">
        <h2 id="stok-info"></h2>
      </div>

      <div class="harga-container">
        <div class="harga" id="product-price"></div>
      </div>

      <div class="deskripsi" id="product-desc">
      </div>
    </div>
  </div>

  <div class="floating-box">
    <a href="https://wa.me/6281280505059" target="_blank" class="float-btn whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/botanimartipb" target="_blank" class="float-btn instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <script src="../assets/js/product-detail.js"></script>

</body>
</html>