<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <title>Botani Mart</title>
  <link rel="stylesheet" href="../assets/css/product-details.css">
</head>

<body>
  <div class="header">
    <div class="judul">Botani Mart</div>
    <div class="search_bar">
        <input type="text" placeholder="search...">
        <button class="search-btn">
          <i class="fas fa-search"></i>
        </button>
    </div>
  </div>

  <div class="container">
    <div class="sidebar">
        <div class="panah">
            <button class="panah-bar">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>

    <div class="scrollbar"></div>
    
    <div class="gambar">
      <div class="gambar-utama">
              <img id="main" src="../uploads/durian.jpg">
      </div>
      <div class="gambar-preview">
          <img id="main2" src="../uploads/durian2.jpg">
          <img id="main3" src="../uploads/durian3.jpeg">
          <img id="main4" src="../uploads/durian4.webp">
          <img id="main5" src="../uploads/durian5.jpg">
      </div>
    </div>

    <div class="informasi-produk">
      <div class="judul-produk">
        <h1>Bibit Pohon Mangga</h1>
        <h2>Mangifera indica</h2>
      </div>

      <div class="stokdkk">
        <h2>
          <span>Stok</span>
          <span>|</span>
          <span>Kategori</span>
          <span>|</span>
          <span>Jenis</span>
        </h2>
      </div>

      <div class="harga-container">
        <div class="harga">Rp10.000,00</div>
      </div>

      <div class="deskripsi">
        <div class="info-box">
          <p>
            Produk ini merupakan bibit pohon mangga Harum Manis yang berasal dari Probolinggo, Jawa Timur.
            Bibit ini ditumbuhkan di daerah Bogor Jawa Barat dan terkenal dengan rasa manis dan aroma yang khas.
          </p>
        </div>
        
        <div class="info-box">
          <p><strong>Cara perawatan:</strong> Siram bibit mangga secara rutin tiap pagi atau sore dan pastikan tanah tetap lembap. Letakkan di tempat yang mendapat sinar matahari cukup, tapi tidak terlalu terik.</p>
        </div>
      
        <div class="info-box">
          <p><strong>Fun Fact:</strong> Cocok ditanam di iklim tropis/subtropis dengan ketinggian 0–700 mdpl, curah hujan 750–2250 mm/tahun, suhu 24–27°C, dan tanah gembur berdrainase baik.</p>
        </div>
      </div>      
  </div>

  <div class="floating-box">
    <a href="https://wa.me/6281210242743" target="_blank" class="float-btn whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/luthfimhrm" target="_blank" class="float-btn instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

</body>
</html>
