@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style : none;
  text-decoration: none;
}

body {
  font-family: 'Pattaya', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* agar di atas elemen lain */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4E7C73;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 40px;
  height: 100px;
}

.judul {
  font-size: 40px;
  color: white;
}

.profile-icon {
    font-size: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  color: white !important;
  margin-right: 15px;
}
  .container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    padding-top: 9rem;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;

}

.main-image {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 2rem;
}

.main-image:hover{
    filter: brightness(80%);
}

.thumbnail-row {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    
}

.thumb {
    width: 120px;
    height: 110px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.thumb:hover{
    filter: brightness(80%);
}

.add-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #eee;
    cursor: pointer;
    border: none;
}

.add-thumb:hover{
    background-color: #BDBDBD;
}

.form-section {
    flex: 1;
    padding-top: 2rem;
    margin-left: rem;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    
}

.input-chip {
    
    border-radius: 10px;
    background-color: #fbede9;
     border-style: solid;
    color: #555;
    width: 182px;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    padding: 1rem;
    border-width: 1px;
    border-color: #333;
}

.input-chipkat {
    
    border-radius: 10px;
    background-color: #fbede9;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    color: #555;
    width: 580px;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    padding: 1rem;
    margin-top: 0.8rem;
}

.description {
    width: 580px;
    height: 240px;
    border-radius: 10px;
    background-color: #fbede9;
    color: #555;
    padding: 1rem;
    font-family: sans-serif;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    resize: none;
    font-size: 25px;
}

.product-list-container {
    width: 450px;
    background-color: #fbede9;
    padding: 1rem;
    border-radius: 10px;
    height: 480px;
    max-height: 700px;
    overflow-y: auto;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    
}

.search-bar {
    width: 100%;
    padding: 0.8rem;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #333;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: poly;
    font-size: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}



.add-product {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: #4E7C73;
    border: none;
    width: 125px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 0.8rem;
    margin-right: 52.7rem;
}

.add-product:hover{
    background-color: #3B9F9F;
}

.delete-product{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: #b31800;
    border: none;
    width: 125px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 0.8rem;
    margin-right: 44rem;
}

.delete-product:hover{
    background-color: #ff9180;
}

