body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom left, #83c7b9, #60a798);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_container {
  background: #ffffff;
  border-radius: 16px;
  width: 90%;
  max-width: 850px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_content {
  display: flex;
  width: 100%;
  height: 100%;
}

.login_left {
  flex: 1;
  background-color: #d7ebe7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.login_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login_right {
  flex: 1;
  background: #1e6656;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login_right h2 {
  margin-top: 0;
  margin-bottom: 2px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.login_right h1 {
  color: white;
  font-size: 12px;
  margin-bottom: 35px;
  font-weight: lighter;
}

.toggle-password {
  cursor: pointer;
  color: #3e978d;
  font-size: 1.1em;
  display: none;
}

.bagian_input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 18px;
}

.bagian_input i {
  font-size: 20px;
  color: #4d6e64;
  margin-right: 10px;
}

.bagian_input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background: transparent;
  padding: 0.3rem;
}

.forgot {
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
}
.forgot a {
  color: white;
  text-decoration: none;
}
.forgot a:hover {
  text-decoration: underline;
}
.login_footer {
  margin-bottom: 20px;
}
.login_footer button {
  width: 100%;
  background-color: #3e978d;
  color: white;
  border: none;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}
.login_footer button:hover {
  background-color: #357f78;
}
.signup-link {
  font-size: 15px;
  color: white;
}
.signup-link a {
  color: #46d2a8;
  font-weight: bold;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}
.toggle-password {
  cursor: pointer;
  margin-left: 10px;
  color: #3e978d;
  font-size: 0.9em;
  display: none;
}
.password-wrapper {
  display: flex;
  align-items: center;
}
.password-wrapper input {
  flex: 1;
}
